@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --Font: 'Poppins', sans-serif;
  --Primary-Red: hsl(0, 100%, 74%); 
  --Primary-Green: hsl(154, 59%, 51%);
  --Accent-Blue: hsl(248, 32%, 49%);
  --Neutral-Dark-Blue: hsl(249, 10%, 26%);
  --Neutral-Grayish-Blue: hsl(246, 25%, 77%);
  --Shadow: 0 4px 3px 0
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

html {
  width: 100vw;
  height: fit-content;
  font-family: var(--Font);
  font-size: 16px;
  color: white;
  text-align: center;
  background-image: url(/src/assets/images/bg-intro-mobile.png);
  background-color: var(--Primary-Red);
}

  /* MAIN */
main {
  width: 90%;
  margin: 4rem auto 2rem;
}

.paragraph {
  margin: 2rem auto 4rem;
  width: 95%;
}

.trial {
  background-color: var(--Accent-Blue);
  padding: 1rem 5rem;
  border-radius: .5rem;
  box-shadow: var(--Shadow) rgb(0, 0, 0, .3);
}

.trial span {
  font-weight: 600;
}

  /* FORM */
form {
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 2rem;
  box-shadow: var(--Shadow) rgb(0, 0, 0, .3);
}

input {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 1rem 0;
  padding: .75rem;
  border: 2px var(--Neutral-Grayish-Blue) solid;
  border-radius: .25rem;
  transition: .3s all;
}

input[type="submit"] {
  background-color: var(--Primary-Green);
  border: none;
  color: white;
  box-shadow: var(--Shadow) hsl(154, 58%, 33%);
}

.error {
  color: var(--Primary-Red);
  font-size: .6rem;
  font-weight: 600;
  font-style: oblique;
  margin: -2rem 0 1rem;
  text-align: right;
}

form img {
  display: block;
  position: relative;
  top: -3.5rem;
  left: 70vw;
}

.terms {
  width: 90%;
  margin: auto;
  color: var(--Neutral-Grayish-Blue);
  font-size: .75rem;
  font-weight: 500;
}

.terms span {
  color: var(--Primary-Red);
  font-weight: 600;
}

  /* FOOTER */
footer {
  position: relative;
  bottom: 1rem;
  width: 100vw;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


  /* RESPONSIVE DESIGN*/
@media screen and (min-width: 768px) {
  main {
    height: 100vh;
    width: 65vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  header,
  section {
    margin: auto;
    width: 100%;
  }
  header {
    text-align: left;
  }
  h1 {
    font-size: 3.5rem;
  }
  .paragraph {
    width: 100%;
    margin-bottom: 0;
    font-weight: 500;
  }
  form {
    padding: 2rem;
  }
  input {
    margin: 1.5rem 0;
  }
  input:not([type="submit"]) {
    padding-left: 2rem;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: hsl(154, 51%, 45%);
  }
  .error {
    font-size: .75rem;
    margin-top: -2.5rem;
  }
  form img {
    position: relative;
    top: -4rem;
    left: 90%;
  }
  footer {
    position: fixed;
    bottom: 1rem;
  }
}